# Ignore node_modules directory
node_modules/

# Ignore compiled JavaScript files
*.js
*.js.map

# Ignore any compiled TypeScript files
*.tsbuildinfo

# Ignore environment variables file
.env

# Ignore dist directory
/dist

# Ignore Visual Studio Code settings
.vscode/

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
